*.hfst
*.pyc
*.pyo
*.timestamp
aclocal.m4
autom4te.cache
ChangeLog
config-aux
config.log
config.status
configure
fiwiki-latest-pages-articles.xml.bz2
Makefile
Makefile.in
omorfi-20*
omorfi-*.gz
omorfi.pc
omorfi-*.xz
speller.zhfst
src/errmodel.edit-distance.txt
src/index.xml
src/inflections.tsv
src/joint.tsv
src/master.tsv
src/omorfi-between-tokens.regex
src/omorfi.dix
src/omorfi-*-hyphenate.twolc
src/omorfi-hyphens.twolc
src/omorfi-*-lemmatise.regex
src/omorfi-*.lexc
src/omorfi.lexc
src/omorfi-*-phon.twolc
src/omorfi-phon.twolc
src/omorfi-recase-any.twolc
src/omorfi-remove-boundaries.regex
src/omorfi-*.reweight
src/omorfi-*-rewrite-tags.regex
src/omorfi-*-rewrite-tags.regex~
src/omorfi-sanalista.xml
src/omorfi-sh.regex
src/omorfi-token.regex
src/omorfi-uppercase-first.twolc
src/omorfi-zh.regex
src/scripts/omorfi-analyse.sh
src/scripts/omorfi-generate.sh
src/scripts/omorfi-hyphenate.sh
src/scripts/omorfi-interactive.sh
src/scripts/omorfi-spell.sh
src/speller-omorfi.zhfst
src/stemparts.tsv
test/europarl-coverage.sh
test/fi-europarl.*
test/fi-gutenberg.*
test/fiwiki.*
test/fiwiki-coverage.sh
test/ftb31-coverage.sh
test/gutenberg-coverage.sh
test/jrc-acquis-coverage.sh
test/speed-test.sh
test/test-header.yaml
