# built files and test results
*.class
*.coveragelog
*.hfst
*.pyc
*.pyo
*.timestamp
*.trs
/build/
/gradle/
# autostuff
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/src/.libs
/src/classjava.stamp
/src/cpp/.deps/
/src/cpp/.dirstamp
/src/cpp/.libs/
/src/cpp/libomorfi_la-omorfi.lo
/src/cpp/libomorfi_la-omorfi.o
/src/cpp/omorfi_lookup-omorfi-lookup.o
/src/libomorfi.la
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build/
config-aux
config.h
config.h.in
config.log
config.status
configure
dist/
fiwiki-latest-pages-articles.xml.bz2
libtool
omorfi-*.gz
omorfi-*.xz
omorfi-20*
omorfi.egg-info/
omorfi.pc
stamp-h1
# automade stuff
/docs/generate-statistics.bash
/src/bash/omorfi.bash
/src/bash/validate-database.bash.log
/src/errmodel.edit-distance.txt
# external lexeme pipelines
/src/externals/dvv.fi.tsv
/src/externals/dvv.fi.tsv.noheaders.unsort
/src/externals/dvv.fi.tsv.unsort
/src/externals/dvv.tsv
/src/externals/enwiktionary-latest-pages-articles.tsv
/src/externals/enwiktionary-latest-pages-articles.tsv.sort
/src/externals/enwiktionary-latest-pages-articles.tsv.unsort
/src/externals/enwiktionary-latest-pages-articles.xml
/src/externals/etunimet
/src/externals/etunimitilasto-*
/src/externals/fiwikt.tempxml
/src/externals/fiwiktionary-latest-pages-articles.tsv
/src/externals/fiwiktionary-latest-pages-articles.tsv.noheaders
/src/externals/fiwiktionary-latest-pages-articles.tsv.unsort
/src/externals/fiwiktionary-latest-pages-articles.xml
/src/externals/joukahainen.tsv
/src/externals/joukahainen.tsv.noheaders
/src/externals/joukahainen.tsv.unsort
/src/externals/joukahainen.xml
/src/externals/joukahainen.xml.gz
/src/externals/sukunimet
/src/externals/sukunimitilasto-*
# built stuffs
/src/generated/
/src/index.xml
/src/scripts/omorfi-analyse.sh
/src/scripts/omorfi-generate.sh
/src/scripts/omorfi-hyphenate.sh
/src/scripts/omorfi-interactive.sh
/src/scripts/omorfi-spell.sh
/src/speller-omorfi.zhfst
/src/test-scripts/*.log
/src/test-suite.log
/src/voikko/index.xml
/src/omorfi-lookup
/src/voikko/speller-omorfi.zhfst
# test stuff
/test/conllu-fi-ftb-ud-test.sh
/test/conllu-fi-ftb-ud-test.sh.log
/test/conllu-fi-tdt-ud-test.bash
/test/conllu-fi-tdt-ud-test.bash.log
/test/corpora
/test/coverage-blort.log
/test/coverage-europarl.sh
/test/coverage-fi-ftb-ud.sh
/test/coverage-fi-ud.sh
/test/coverage-fiwiki.sh
/test/coverage-ftb-3.1.sh
/test/coverage-gutenberg.sh
/test/coverage-jrc-acquis.sh
/test/coverage-opensubtitles.bash
/test/coverages-all-quick.bash
/test/coverages-all-quick.bash.log
/test/coverages-all-quick.sh
/test/coverages-all-slow.bash
/test/coverages-all-slow.bash.log
/test/coverage-short.log
/test/coverages-less-quick.bash
/test/coverages-less-quick.bash.log
/test/digitoday.2014.dev.csv
/test/digitoday.2014.dev.logs
/test/digitoday.2014.dev.omorfiner
/test/europarl-coverage.sh
/test/faithfulness-ftb-3.1-quick.sh
/test/faithfulness-ftb-3.1.sh
/test/finer-test.bash
/test/finer-test.bash.log
/test/fi-ud.conllu
/test/fi-ud-test.cg3log
/test/fi-ud-test.tokens
/test/fi-ud-test.uniq.freqs
/test/fi-ud.tokens
/test/fi-ud.uniq.freqs
/test/fiwiki-coverage.sh
/test/ftb31-coverage.sh
/test/ftb3.1.faithlog
/test/ftb-3.1-quick-test.bash
/test/ftb-3.1-quick-test.bash.log
/test/ftb3.1-short.log
/test/ftb-3.1-test.bash
/test/ftb-3.1-test.bash.log
/test/gutenberg-coverage.sh
/test/jrc-acquis-coverage.sh
/test/lemmas.freqs
/test/newstest2015-fien-src.fi.cg3text
/test/newstest2018-fien-src-ts.fi.cg3text
/test/omorfi_ftb-ud.conllu
/test/omorfi_ftb-ud-dev.conllu
/test/omorfi_ftb-ud.log
/test/omorfi_ftb-ud-test.conllu
/test/omorfi_tdt-ud-dev.conllu
/test/omorfi_tdt-ud-dev.log
/test/omorfi_tdt-ud-test.conllu
/test/omorfi_tdt-ud-test.log
/test/omorfi_tdt-ud-train.cg3text
/test/omorfi-ud.cg3text
/test/omorfi-ud.conllu
/test/omorfi-ud-dev.cg3text
/test/omorfi-ud-test.cg3disam
/test/omorfi-ud-test.cg3text
/test/omorfi-ud-test.conllu
/test/omorfi-ud-train.cg3disam
/test/omorfi-ud-train.cg3text
/test/omorfi-ud-train.conllu
/test/regressions.sh.log
/test/rougher-tests.bash.log
/test/rough-tests.sh.log
/test/scripts-runnable.sh.log
/test/speed-test.sh
/test/test.ftb31
/test/test-header.yaml
/test/test.omorfi
/test/test-suite.log
/test/tools-all-quick.bash
/test/tools-python.bash
/test/tools-python.bash.log
/test/training.bash
/test/unimorph-fin.unimorphlog
/test/unimorph-fin.unimorphs
/test/unimorph-test.bash
/test/unimorph-test.bash.log
/test/vislcg-fi-ud-test.sh
/test/vislcg-fi-ud-test.sh.log
/test/wordforms.anals
/test/wordforms-common.anals
/test/wordforms.list.sort
/test/wordforms.rare
/test/wordforms-rare.list
