*.class
*.coveragelog
*.hfst
*.pyc
*.pyo
*.timestamp
*.trs
/build/
/gradle/
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/src/.libs
/src/bash/omorfi.bash
/src/bash/validate-database.bash.log
/src/classjava.stamp
/src/cpp/.deps/
/src/cpp/.dirstamp
/src/cpp/.libs/
/src/cpp/libomorfi_la-omorfi.lo
/src/cpp/libomorfi_la-omorfi.o
/src/cpp/omorfi_lookup-omorfi-lookup.o
/src/errmodel.edit-distance.txt
/src/generated/
/src/index.xml
/src/inflections.tsv
/src/joint.tsv
/src/libomorfi.la
/src/master.tsv
/src/omorfi-*-hyphenate.twolc
/src/omorfi-*-lemmatise.regex
/src/omorfi-*-phon.twolc
/src/omorfi-*-rewrite-tags.regex
/src/omorfi-*-rewrite-tags.regex~
/src/omorfi-*.lexc
/src/omorfi-*.reweight
/src/omorfi-between-tokens.regex
/src/omorfi-hyphens.twolc
/src/omorfi-lookup
/src/omorfi-phon.twolc
/src/omorfi-recase-any.twolc
/src/omorfi-remove-boundaries.regex
/src/omorfi-sanalista.xml
/src/omorfi-sh.regex
/src/omorfi-token.regex
/src/omorfi-uppercase-first.twolc
/src/omorfi-zh.regex
/src/omorfi.dix
/src/omorfi.lexc
/src/scripts/omorfi-analyse.sh
/src/scripts/omorfi-generate.sh
/src/scripts/omorfi-hyphenate.sh
/src/scripts/omorfi-interactive.sh
/src/scripts/omorfi-spell.sh
/src/speller-omorfi.zhfst
/src/stemparts.tsv
/src/test-scripts/consistent-attribute-keys.bash.log
/src/test-scripts/constraint-unique-keys.bash.log
/src/test-scripts/lemmas-match-regexes.bash.log
/src/test-scripts/lexc-errors.bash.log
/src/test-scripts/paradigm-coverage.bash.log
/src/test-scripts/plusplus-has-documents.bash.log
/src/test-scripts/valid-datatypes.bash.log
/src/test-suite.log
/src/voikko/index.xml
/test/5grams.01.txt.gz
/test/5grams.02.txt.gz
/test/5grams.03.txt.gz
/test/5grams.04.txt.gz
/test/5grams.text
/test/5grams.tokens
/test/5grams.uniq.freqs
/test/OpenSubtitles2016.fi.text
/test/OpenSubtitles2016.fi.tokens
/test/OpenSubtitles2016.fi.uniq.freqs
/test/OpenSubtitles2016.raw.fi.gz
/test/OpenSubtitles2016.text
/test/UD_Finnish-FTB/
/test/UD_Finnish-TDT/
/test/UD_Finnish-ftb/
/test/UD_Finnish-tdt/
/test/conllu-fi-ftb-ud-test.sh
/test/conllu-fi-ftb-ud-test.sh.log
/test/conllu-fi-tdt-ud-test.bash
/test/conllu-fi-tdt-ud-test.bash.log
/test/coverage-blort.log
/test/coverage-europarl.sh
/test/coverage-fi-ftb-ud.sh
/test/coverage-fi-ud.sh
/test/coverage-fiwiki.sh
/test/coverage-ftb-3.1.sh
/test/coverage-gutenberg.sh
/test/coverage-jrc-acquis.sh
/test/coverage-opensubtitles.bash
/test/coverage-short.log
/test/coverages-all-quick.bash
/test/coverages-all-quick.bash.log
/test/coverages-all-quick.sh
/test/coverages-all-slow.bash
/test/coverages-all-slow.bash.log
/test/coverages-less-quick.bash
/test/coverages-less-quick.bash.log
/test/europarl-coverage.sh
/test/europarl-v7.fi-en.fi
/test/europarl-v7.fi-en.fi.10k
/test/europarl-v7.fi-en.fi.text
/test/europarl-v7.fi-en.fi.tokens
/test/europarl-v7.fi-en.fi.uniq.freqs
/test/europarl.feats
/test/europarl.lemmas
/test/faithfulness-ftb-3.1-quick.sh
/test/faithfulness-ftb-3.1.sh
/test/fi-en.tgz
/test/fi-europarl.*
/test/fi-gutenberg.*
/test/fi-ud-test.cg3log
/test/fi-ud-test.tokens
/test/fi-ud-test.uniq.freqs
/test/fi-ud.conllu
/test/fi-ud.tokens
/test/fi-ud.uniq.freqs
/test/fi/
/test/fi_ftb-ud-dev.conllu
/test/fi_ftb-ud-test.conllu
/test/fi_ftb-ud-train.conllu
/test/fi_ftb-ud.tokens
/test/fi_ftb-ud.uniq.freqs
/test/fi_tdt-ud-dev.conllu
/test/fi_tdt-ud-test.conllu
/test/fi_tdt-ud-train.conllu
/test/fi_tdt-ud.tokens
/test/fi_tdt-ud.uniq.freqs
/test/fin/
/test/fiwiki-coverage.sh
/test/fiwiki-latest-pages-articles.text
/test/fiwiki-latest-pages-articles.tokens
/test/fiwiki-latest-pages-articles.uniq.freqs
/test/fiwiki.*
/test/ftb-3.1-quick-test.bash
/test/ftb-3.1-quick-test.bash.log
/test/ftb-3.1-test.bash
/test/ftb-3.1-test.bash.log
/test/ftb1-2014-beta.zip
/test/ftb1-2014-beta/
/test/ftb1-2014.cutted.freqs
/test/ftb1-2014.tokens
/test/ftb1-2014.tsv
/test/ftb1-2014.uniq.freqs
/test/ftb3.1-short.log
/test/ftb3.1.conllx
/test/ftb3.1.cutted.freqs
/test/ftb3.1.faithlog
/test/ftb3.1.omrfi
/test/ftb3.1.tokens
/test/ftb3.1.uniq.freqs
/test/ftb31-coverage.sh
/test/gutenberg-coverage.sh
/test/gutenberg-fi.text
/test/gutenberg-fi.tokens
/test/gutenberg-fi.uniq.freqs
/test/jrc-acquis-coverage.sh
/test/jrc-fi.text
/test/jrc-fi.tgz
/test/jrc-fi.tokens
/test/jrc-fi.uniq.freqs
/test/lemmas.freqs
/test/newstest2015-fien-src.fi.cg3text
/test/newstest2018-fien-src-ts.fi.cg3text
/test/omorfi-ud-dev.cg3text
/test/omorfi-ud-test.cg3disam
/test/omorfi-ud-test.cg3text
/test/omorfi-ud-test.conllu
/test/omorfi-ud-train.cg3disam
/test/omorfi-ud-train.cg3text
/test/omorfi-ud-train.conllu
/test/omorfi-ud.cg3text
/test/omorfi-ud.conllu
/test/omorfi_ftb-ud-dev.conllu
/test/omorfi_ftb-ud-test.conllu
/test/omorfi_ftb-ud.conllu
/test/omorfi_ftb-ud.log
/test/omorfi_tdt-ud-dev.conllu
/test/omorfi_tdt-ud-dev.log
/test/omorfi_tdt-ud-test.conllu
/test/omorfi_tdt-ud-test.log
/test/omorfi_tdt-ud-train.cg3text
/test/regressions.sh.log
/test/rough-tests.sh.log
/test/rougher-tests.bash.log
/test/scripts-runnable.sh.log
/test/sentences.csv
/test/sentences.tar.bz2
/test/speed-test.sh
/test/tatoeba-fi.text
/test/tatoeba-fi.tokens
/test/tatoeba-fi.uniq.freqs
/test/test-header.yaml
/test/test-suite.log
/test/test.ftb31
/test/test.omorfi
/test/tools-all-quick.bash
/test/tools-python.bash
/test/tools-python.bash.log
/test/training.bash
/test/unimorph-fin.tokens
/test/unimorph-fin.unimorphlog
/test/unimorph-fin.unimorphs
/test/unimorph-fin.uniq.freqs
/test/unimorph-test.bash
/test/unimorph-test.bash.log
/test/vislcg-fi-ud-test.sh
/test/vislcg-fi-ud-test.sh.log
/test/vks.uniq.freqs
/test/vks_frek.txt
/test/vks_frek.zip
/test/vns.uniq.freqs
/test/vns_frek.txt
/test/vns_frek.zip
/test/wordforms-common.anals
/test/wordforms-rare.list
/test/wordforms.anals
/test/wordforms.list.sort
/test/wordforms.rare
/test/www.gutenberg.lib.md.us/
/test/www.gutenberg.org/
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config-aux
config.h
config.h.in
config.log
config.status
configure
fiwiki-latest-pages-articles.xml.bz2
libtool
omorfi-*.gz
omorfi-*.xz
omorfi-20*
omorfi.pc
speller-omorfi.zhfst
speller.zhfst
stamp-h1
