<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="//github.com/flammie/omorfi/#readme">README</a></li>
    <li><a href="{{ site.baseurl }}/pages/Releases">Release policy</a></li>
    <li class="divider">Statistics</li>
    <li class="divider">Bindings</li>
    <li class="divider">Generated docs</li>
    <li><a href="{{ site.baseurl }}/paradigms.html">Paradigms</a></li>
    <li><a href="{{ site.baseurl }}/stuff.html"
            title="Stuff for tags, poses, hacks etc.">Internal codes</a></li>
</ul>
