<nav>
<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="//github.com/flammie/omorfi/#readme">README</a></li>
    <li><a href="{{ site.baseurl }}/pages/Releases">Release policy</a></li>
    <li class="divider">Statistics</li>
    <li><a href="{{ site.baseurl }}/statistics.html">Statistics</a></li>
    <li class="divider">Bindings</li>
    <li><a href="{{ site.baseurl }}/pages/Python-API.html">Python</a></li>
    <li><a href="{{ site.baseurl }}/pages/Java-API.html">Java</a></li>
    <li><a href="{{ site.baseurl }}/pages/Bash-API.html">Bash</a></li>
    <li class="divider">Generated docs</li>
    <li><a href="{{ site.baseurl }}/lexemes.html">Words</a></li>
    <li><a href="{{ site.baseurl }}/paradigms.html">Paradigms</a></li>
    <li><a href="{{ site.baseurl }}/stuff.html"
            title="Stuff for tags, poses, hacks etc.">Internal codes</a></li>
</ul>
</nav>
